.swagger-ui .save-btn {
  border-color: #49cc90;
  background-color: #49cc90;
  color: #fff;
}

.swagger-ui .checklist-wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  padding: 1% 0;
}

.swagger-ui .checklist-item-wrapper {
  position: relative;
}
